<form method="post" action="admin.php?action=addpro" class="form-horizontal">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="name">{#name#}:</label>
			<div class="controls">
				<input type="text" class="text" name="name" id="name" required="1" realname="{#name#}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="desc">{#description#}:</label>
			<div class="controls">
				<textarea name="desc" id="desc"  rows="3" cols="1" ></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="end">{#due#}:</label>
			<div class="controls">
				<input type="text" class="text" name="end"  id="endP"  realname="{#due#}" />
				<input type = "checkbox" class = "checkbox" value = "neverdue" name = "neverdue" id = "neverdue" onclick = "$('endP').value='';$('endP').disabled='disabled';"><label class="inline-right" for = "neverdue">{#neverdue#}</label>
			</div>
		</div>
		<div class="datepick">
			<div id = "add_project" class="picker" style = "display:none;"></div>
		</div>
		<script type="text/javascript">
			theCal = new calendar({$theM},{$theY});
			theCal.dayNames = ["{#monday#}","{#tuesday#}","{#wednesday#}","{#thursday#}","{#friday#}","{#saturday#}","{#sunday#}"];
			theCal.monthNames = ["{#january#}","{#february#}","{#march#}","{#april#}","{#may#}","{#june#}","{#july#}","{#august#}","{#september#}","{#october#}","{#november#}","{#december#}"];
			theCal.relateTo = "endP";
			theCal.dateFormat = "{$settings.dateformat}";
			theCal.getDatepicker("add_project");
		</script>
		
		<div class="control-group">
			<label class="control-label" for="budget">{#budget#}:</label>
			<div class="controls">
				<input type = "text" class="text" name = "budget" id = "budget" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="budget">{#members#}:</label>
			<div class="controls">
				{section name=user loop=$users}
					<input type="checkbox" class="checkbox" value="{$users[user].ID}" name="assignto[]" id="{$users[user].ID}"  {if $users[user].ID == $userid} checked="checked"{/if} /><label class="inline-right" for="{$users[user].ID}">{$users[user].name}</label>
				{/section}
			</div>
		</div>
		<input type="hidden" name="assignme" value="1" />
	</fieldset>
</form>